WEB_DOMAIN, www.WEB_DOMAIN {
  root /usr/src/app/dist
  tls ISSUER_ADDRESS

  # some security headers
  header / {
    X-XSS-Protection "1; mode=block"
    X-Content-Type-Options "nosniff"
    X-Frame-Options "DENY"

    -Server
  }

  rewrite {
    if {file} not favicon.ico
    if {file} not files/*
    if {file} not userimages/*
    to {path} {path}/ /index.html
  }

  header /scripts {
    Expires "Thu, 31 Dec 2037 23:55:55 GMT"
    Cache-Control public
  }

  header /styles {
    Expires "Thu, 31 Dec 2037 23:55:55 GMT"
    Cache-Control public
  }

  header /fonts {
    Expires "Thu, 31 Dec 2037 23:55:55 GMT"
    Cache-Control public
  }

  gzip {
    not /images /userimages /fonts
  }
  log stdout
  errors stdout
}

API_DOMAIN {
  tls ISSUER_ADDRESS
  gzip {
    not /boxes/data
  }

  # some security headers
  header / {
    X-XSS-Protection "1; mode=block"
    X-Content-Type-Options "nosniff"
    X-Frame-Options "DENY"

    -Server
  }

  proxy / api:8000/ {
    transparent
  }
  log stdout
  errors stdout
}

# legacy api on port 8000
WEB_DOMAIN:8000, www.WEB_DOMAIN:8000 {
  tls off
  gzip

  # strip the headers to a bare minimum to make using the insecure endpoint difficult
  header / {
    Deprecation-Warning "If your client supports TLS, please use https://API_DOMAIN"

    -Server
    -Access-Control-Allow-Headers
    -Access-Control-Allow-Methods
    -Access-Control-Allow-Origin
    -Access-Control-Expose-Headers
    -Request-Id
    -Response-Time
  }

  proxy / api:8000/ {
    transparent

    header_downstream -Server ""
    header_downstream -Access-Control-Allow-Headers ""
    header_downstream -Access-Control-Allow-Methods ""
    header_downstream -Access-Control-Allow-Origin ""
    header_downstream -Access-Control-Expose-Headers ""
    header_downstream -Request-Id ""
    header_downstream -Response-Time ""
  }
  log stdout
  errors stdout
}
