WEB_DOMAIN, www.WEB_DOMAIN {
  root /usr/src/app/dist
  tls ISSUER_ADDRESS

  rewrite {
    if {file} not favicon.ico
    if {file} not files/*
    if {file} not userimages/*
    to {path} {path}/ /index.html
  }

  header /scripts {
    Expires "Thu, 31 Dec 2037 23:55:55 GMT"
    Cache-Control public
  }

  header /styles {
    Expires "Thu, 31 Dec 2037 23:55:55 GMT"
    Cache-Control public
  }

  header /fonts {
    Expires "Thu, 31 Dec 2037 23:55:55 GMT"
    Cache-Control public
  }

  gzip {
    not /images /userimages /fonts
  }
  log stdout
}

API_DOMAIN {
  tls ISSUER_ADDRESS
  gzip {
    not /boxes/data
  }

  proxy / api:8000/ {
    proxy_header Host {host}
    proxy_header X-Real-IP {remote}
    proxy_header X-Forwarded-Proto {scheme}
  }
  log stdout
}

# legacy api on port 8000
WEB_DOMAIN:8000, www.WEB_DOMAIN:8000 {
  tls off
  gzip

  header / Deprecation-Warning "If your client supports TLS, please use https://API_DOMAIN"

  proxy / api:8000/ {
    proxy_header Host {host}
    proxy_header X-Real-IP {remote}
    proxy_header X-Forwarded-Proto {scheme}
  }
  log stdout
}
