WEB_DOMAIN, www.WEB_DOMAIN {
  root /usr/src/app/dist
  tls ISSUER_ADDRESS

  # some security headers
  header / {
    X-XSS-Protection "1; mode=block"
    X-Content-Type-Options "nosniff"
    X-Frame-Options "DENY"

    -Server
  }

  rewrite {
    if {file} not favicon.ico
    if {file} not files/*
    if {file} not userimages/*
    to {path} {path}/ /index.html
  }

  header /scripts {
    Expires "Thu, 31 Dec 2037 23:55:55 GMT"
    Cache-Control public
  }

  header /styles {
    Expires "Thu, 31 Dec 2037 23:55:55 GMT"
    Cache-Control public
  }

  header /fonts {
    Expires "Thu, 31 Dec 2037 23:55:55 GMT"
    Cache-Control public
  }

  gzip {
    not /images /userimages /fonts
  }
  log stdout
}

API_DOMAIN {
  tls ISSUER_ADDRESS
  gzip {
    not /boxes/data
  }

  # some security headers
  header / {
    X-XSS-Protection "1; mode=block"
    X-Content-Type-Options "nosniff"
    X-Frame-Options "DENY"

    -Server
  }

  proxy / api:8000/ {
    transparent
  }
  log stdout
}

# legacy api on port 8000
WEB_DOMAIN:8000, www.WEB_DOMAIN:8000 {
  tls off
  gzip

  header / Deprecation-Warning "If your client supports TLS, please use https://API_DOMAIN"

  proxy / api:8000/ {
    transparent
  }
  log stdout
}
